* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
  }
  
  #header {
    background-color: #1ac073;
    color: white;
    height: 800px;
  }
  
  #nav {
    position: absolute;
    height: 100px;
    left: 0px;
    top: 20px;
    width: 100%;
    font-size:xx-large;
    display: flex;
  }
  
  #nav h4 {
    display: inline-block;
    font-family: 'Squada One';
  }
  
  #nav ul {
    list-style: none;
    display: inline-flex;
    font-size: large;
    text-align: center;
    margin-left: 300px;
  }
  
  #nav ul li {
    margin: 10px 40px 10px 40px;
  }
 #search-icon{
  padding-left: 250px;
 }
  #text p {
    padding-top: 15%;
    margin-left: 15%;
    width: 534px;
    height: 100px; 
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    display: inline-block;
  }
  #text {
    display: inline;
  }
  #text h5 {
    top: 239.9px;
    margin-left: 15%;
    width: 441px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  }
  #srch{
    padding-left: 15%;
  }
  #srchtxt{
    height: 56px;
    width: 300px;
    border-radius: 10px 0 0 10px;
  }
  #srchtxt::placeholder{
    text-align: center;
    color: black;
    font-size: large;
  }
  #srchbtn{
    height: 58px;
    width: 98px;
    background-color: #F3BA00;
    color: #ffffff;
    border-radius: 0 10px 10px 0;
  }